body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  overflow: hidden;
  background-color: black;
}

.game-canvas {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
  z-index: 1;
}

#send-player-data {
  position: absolute;
  z-index: 10;
  right: 0;
  opacity: 0.3;
  display: flex;
}

#player-name {
  display: block;
  position: relative;
}

#player-color {
  padding: 0;
  width: 30px;
}

#submit {
  display: block;
  position: relative;
}
